@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
   font-family: "Raleway";
}

.links{
   text-decoration: none;
   color: black;
}

.fa-star {
	color: gray;
}

.fa-star.blue {
	color:#0065fc;
}

h1{
   margin-left: 7px;
   font-size: 18px;
}



/*HEADER*/

header{
   margin-left: -48px;
   margin-top: -43px;
   margin-right: -8px;
   margin-bottom: -40px;
}

header .logo{
   display: none;
}
             

nav img{
   width: 97px;
   height: 45px;
}



header nav ul{
   display: flex;         
   list-style: none;
   text-align: center;
   flex-wrap: wrap;
}


header nav ul li:first-child{
   text-align: center;
   order: 1;
   width: 47%;
   text-align: left;
   padding-left: 10px;
}
header nav ul li:nth-child(2){
  
   order: 2;
   width: 50%;
   padding-top: 25px;
   border-bottom: 3px solid #ddd;
}

header nav ul li:nth-child(2):hover{
   border-bottom: 3px solid #1e90ff;
   color: #1e90ff;
}

header nav ul li:nth-child(3){
   order: 3;
   width: 50%;
   padding-top: 25px;
   border-bottom: 3px solid #ddd;
}

header nav ul li:nth-child(3):hover{
   border-bottom: 3px solid #1e90ff;
   color: #1e90ff;
}

header nav ul li:last-child{
   order: 1;
   width: 45%;
   padding-top: 10px;
   padding-right: 0px;
   text-align: right;
   margin-right: 5px;
}

header .links{
   color: black;
}

header li:last-child .links {
   color: black;
}

/*SEARCH*/

#search .titre{
   margin-top: 30px;
   margin-left: 10px;
}

#search .titre h1{
   font-size: 20px;
   margin-left: 0px;
   
}

#search .title p{
   font-size: 14px;
}

#search .form{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#search .form .maps{
   background-color:#f2f2f2;
   padding: 15px;
   border-radius: 15px 0px 0px 15px;
   padding-right: 20px;
   padding-left: 20px;
}

#search .form .bar{
   width: 70%;
   border-top: #F2F2F2 1px solid;
   border-bottom: #F2F2F2 1px solid;
   border-left: none;
   border-right: none;
}

#lieu::placeholder{
   color: black;
   font-weight: 600;
   font-size: 15px;
   font-family: 'Raleway';
}

#search .form .btn{
   background-color: #0065fc;
   color: #ffffff;
   text-align: center;
   padding: 15px;
   width: 20px;
   border-radius: 15px 15px 15px 15px;
   position: absolute;
   right: 7%;
}

#search .search{
   display: none;
}

#search .filter{
   display: flex;
   margin-top: 10px;
   flex-direction: column;
   margin-left: 15px;
}

#search .filter .filter-btn{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

#search .filter .filter_1{
   display: flex;
   flex-direction: row;
   align-items: center;
   border-top: 2px solid #d9d9d9;
   border-right: 2px solid #d9d9d9;
   border-bottom: 2px solid #d9d9d9;
   border-radius: 50px;
   height: 41px;
   margin-right: 10px;
   margin-top: 10px; 
}


      
#search .filter .filter_1 .icone{
   padding: 11px;
   border-radius: 100px;
   margin-right: 10px;
   color: #0065fc;
   background-color: #deebff;
   margin-left: -2px;
   margin-top: -2px;
   margin-bottom: -2px;
   border: 1px solid #deebff;
   width: 18px;
   text-align: center;
   cursor: pointer;
}
      
#search .filter .filter_1 .description{
   padding-right: 13px;
   font-weight: bold;
}

.info{
   display: flex;
   flex-direction: row;
   margin-left: 15px;
}
      
.info .fas{
   margin-right: 15px;
   color: #0065fc;
}
      


/*ACCOMODATION*/

#accomodation{
   display: flex;
   flex-direction: column-reverse;
}
aside{
   background-color: #f2f2f2;
   padding-bottom: 15px;
   margin-left: -8px;
   margin-right: -8px;      
}

aside span{
   display: flex;
   align-items: row;
   align-items: baseline;
   justify-content: space-between;
   margin-right: 16px;
   margin-top: 10px;
}

aside span .fas{
   font-size: 20px;
}

aside .figure{
   display: flex;
   align-items: center;
   background-color: #ffffff;
   margin-bottom: 5%;
   border-radius: 20px;
   margin-left: 5%;
   margin-right: 5%;
}

aside .products .figure .miniature img{
              
   display: flex;
   align-items: center;
}

aside .products .figure .miniature img{
              
   height: 120px;
   width: 120px;
   border-radius: 20px 0px 0px 20px;
   object-fit: cover;
   padding: 4px;
}


aside .products .figure .figcaption h3{
   margin-top: -5px;
   margin-right: 25px;
   margin-left: 5px;
   font-size: 16px
}

aside .products .figure .figcaption p{
   margin-top: -10px;
   margin-right: 25px;
   margin-left: 5px;
   font-size: 14px;
}

aside .products .figure .figcaption .stars{
   margin-top: 30px;
   margin-right: 45px;
   margin-left: 6px;
   font-size: 14px;
}

#accomodation .product_sheet h1{
   margin-top: 30px;
}

#accomodation .product_sheet .products .figure{
   margin-bottom: 15px;
   border-radius: 20px;
   box-shadow: 0 0 20px #0000002e;
   margin-left: 15px;
   margin-right: 15px;

}

#accomodation .product_sheet .products .figure .miniature{
   display: flex;
   justify-content: center;
   padding: 2px;
}

#accomodation .product_sheet .products .figure .miniature img{
   height: 100px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   object-fit: cover;
               
}

#accomodation .product_sheet .products .figure .figcaption{
   padding: 10px;          
}

#accomodation .product_sheet .products .figcaption .description h3{
   margin-top: 0px;
   margin-right: 25px;
   margin-left: 5px;
   
   
}

#accomodation .product_sheet .products .figcaption .description p{
   margin-top: -15px;
   margin-right: 25px;
   margin-left: 5px;
   font-size: 16px;
   margin-bottom: 3px;
}

#accomodation .product_sheet .products .figcaption .stars{
   margin-top: 0px;
   margin-left: 5px;
}


.plus{
   margin-left: 18px;
   margin-top: 28px;
   font-weight: 700;
}



/*ACTIVITY*/

#activity h1{
   margin-bottom: 25px;
}

#activity .figure{
   margin-bottom: 20px;
   border-radius: 20px;
   box-shadow: 1px 1px 1px black;
   box-shadow: 0 0 20px #0000002e;
   margin-left: 15px;
   margin-right: 15px;

}

#activity .pictures{
   display: flex;
   justify-content: center;
   
}

#activity img{
   height: 130px;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   object-fit: cover;
               
}

#activity .figcaption{
   padding-left: 10px;
   display: flex;
   align-items: center;
               
}

.locations_desktop{
   display: none;
}


/*FOOTER*/
footer{
   background-color: #f2f2f2;
   margin-left: -8px;
   margin-right: -8px;
}
      
footer .list{
   padding-top: 5px;
   padding-bottom: 1px;
}

li{
   list-style: none;
}

      
ul{
   margin-top: 30px;
   line-height: 25px;
}