@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
     font-family: "Raleway";
}

.links{
     text-decoration: none;
     color: black;
}

.fa-star {
	color: gray;
}

.fa-star.blue {
	color:#0065fc;
}

h1{
     margin-left: 21px;
     font-size: 25px;
}

h2{
     margin-left: 7px;
     font-size: 18px;
}


/*HEADER*/

nav img{
     width: 97px;
     height: 45px;
}

header nav ul{
     display: flex;        
     flex-direction: row;
     list-style: none;
     text-align: center;
     align-items: center;
     margin-top: 0px;
     margin-left: 0px;
     padding-left: 0px;
}

header nav ul li:first-child{
     width: 68%;
     text-align: left;
     padding-top: 10px;
     padding-left: 10px;
}

header nav li{
     display: inline;
     padding-left: 30px;
     padding-right: 30px;

}

header nav{
     list-style-type: none;
}

header nav li{
     display: inline;
     padding-left: 30px;
     padding-right: 30px;

}

header nav li strong{
color: #0065fc;
}

header nav li a{
     padding-top: 35px;
}


header nav ul .links:hover{
border-top: 2px solid #0065fc;
color: #0065fc;
}



/*SEARCH*/
#search .titre{
     margin-top: 30px;
     margin-left: 10px;
}
  
#search .titre h1{
     font-size: 20px;
     margin-left: 0px; 
}
  
#search .title p{
     font-size: 14px;
}



#search .form{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 30px;
}

#search .form .maps{
     background-color:#f2f2f2;
     padding: 23px;
     border-radius: 15px 0px 0px 15px;
}

#search .form .bar{
     width: 64%;
     border-top: #F2F2F2 1px solid;
     border-bottom: #F2F2F2 1px solid;
     border-left: none;
     border-right: none;
}




#lieu::placeholder{
     color: black;
     font-weight: 600;
     font-size: 15px;
     font-family: 'Raleway';
}


#search .form .btn{
     background-color: #0065fc;
     color: #ffffff;
     text-align: center;
     padding: 23px;
     width: 20px;
     border-radius: 0px 15px 15px 0px;
}

#search .search{
     display: none;
}

#search .filter{
     display: flex;
     margin-top: 10px;
     flex-direction: column;
}

#search .filter .title p{
     font-size: 20px;
     margin-left: 4px;
}

#search .filter .filter-btn{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}

#search .filter .filter_1{
     display: flex;
     flex-direction: row;
     align-items: center;
     border-top: 2px solid #d9d9d9;
     border-right: 2px solid #d9d9d9;
     border-bottom: 2px solid #d9d9d9;
     border-radius: 50px;
     height: 41px;
     margin-right: 10px;
     margin-top: 10px; 
}

#search .filter .filter_1:hover{
     box-shadow: 0 0 10px #0000002e;
}
  
  
        
  #search .filter .filter_1 .icone{
     padding: 11px;
     border-radius: 100px;
     margin-right: 10px;
     color: #0065fc;
     background-color: #deebff;
     margin-left: -2px;
     margin-top: -2px;
     margin-bottom: -2px;
     border: 1px solid #deebff;
     width: 18px;
     text-align: center;
     cursor: pointer;
}
      
#search .filter .filter_1 .description{
     padding-right: 15px;
     font-weight: bold;
}

.info{
     display: flex;
     flex-direction: row;
}
      
.info .fas{
     margin-right: 15px;
     color: #0065fc;
}
      


/*ACCOMODATION*/

#accomodation{
     display: flex;
     flex-direction: column-reverse;
}
aside{
     background-color: #f2f2f2;         
}

aside span{
    display: flex;
    align-items: row;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 16px;
    margin-top: 10px;
}

aside .products{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

aside .products a{
     width: 30%;
     height: 279px;
}

aside .products .figure{
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
     margin-bottom: 5%;
     border-radius: 20px;
}

aside .products .figure .miniature {
     display: flex;
     justify-content: center;
}

aside .products .figure .miniature img{
     display: flex;
     align-items: center;
     height: 130px;
     width: 96%;
     border-radius: 20px 20px 0px 0px;
     object-fit: cover;
     padding: 6px;
}

aside .products .figure .figcaption{
     display: flex;
     flex-direction: column;
     margin-left: 15px;
     margin-bottom: 10px;
}

aside .products .figure .figcaption h3{
     font-size: 16px;
}

aside span .fas{
     font-size: 25px;
     margin-right: 25px;
}


#accomodation .product_sheet .products{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

#accomodation .product_sheet .products .links{
     width: 45%;
     padding-bottom: 15px;
}

#accomodation .product_sheet .products .figure{
     margin-bottom: 10px;
     border-radius: 20px;
     box-shadow: 0 0 20px #0000002e;

}

#accomodation .product_sheet .products .figure .miniature{
     display: flex;
     justify-content: center;
}

#accomodation .product_sheet .products .figure .miniature img{
     height: 130px;
     width: 99%;
     border-radius: 20px 20px 0px 0px;
     object-fit: cover;
     padding: 2px;       
}

#accomodation .product_sheet .products .figure .figcaption{
     padding-bottom: 9px;
     padding-left: 10px;
     margin-bottom: 15px;          
}

#accomodation .product_sheet .products .figcaption .description h3{
     margin-top: 0px;
     margin-right: 25px;
     margin-left: 5px;
     font-size: 16px
}

#accomodation .product_sheet .products .figcaption .description p{
     margin-top: -15px;
     margin-right: 25px;
     margin-left: 5px;
     font-size: 16px;
     margin-bottom: 3px;
}

#accomodation .product_sheet .products .figcaption .stars{
     margin-top: 0px;
     margin-left: 5px;
}

.plus{
     min-width: 200px;
     margin-left: 18px;
     margin-top: 28px;
     font-weight: 700;
}
  



/*ACTIVITY*/

#activity .locations_desktop{
     display: none;
}

#activity .locations_mobile{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

#activity .locations_mobile .location{
     width: 45%;
}




#activity .figure{
     margin-bottom: 25px;
     border-radius: 20px;
     box-shadow: 1px 1px 1px black;
     box-shadow: 0 0 20px #0000002e;

}

#activity .pictures{
     display: flex;
     justify-content: center;
              
}

#activity img{
     height: 130px;
     width: 100%;
     border-radius: 20px 20px 0px 0px;
     object-fit: cover;
               
}

#activity .figcaption{
     padding-left: 10px;
     display: flex;
     align-items: center;
               
}


/*FOOTER*/
footer{
     background-color: #f2f2f2;
     
}
      
footer .list{
     display: flex;
     
     
}

footer .list_1{
     width: 33.3%;
}

li{
     list-style: none;
}
      
ul{
     line-height: 30px;   
}